/*colours palette:
F9F7F7 background
DBE2EF light shadow 
3F72AF text color light
112D4E text color dark
a0a0a0 grey color
6b6054 dark brown color
FEFAF6 background main
EADBC8 background app
DAC0A3 shadows
102C57 font color
*/

body {
    background-color: #FEFAF6;
    font-family: "Reddit Sans", sans-serif;
  
}
form {
    padding-bottom: 20px;
    
}
footer {
    padding-top: 20px;
    font-size: small;
    text-align: center;
    opacity: 80%;
}

a {
    color: #102C57;
}
.app-box{
    background: #EADBC8;
    max-width: 650px;
    margin: 30px auto;
    box-shadow: 0 10px 10px #DAC0A3;
    border-radius: 12px;
    padding: 30px;
}

.search-input {
    width: 80%;
    background-color: #F9F7F7;
    border-radius: 4px;
    border: none;
    padding: 10px;
    outline: none;
 }
 
 .search-input:focus {
    border: 2px solid #6b6054b7;
 }

 .search-button {
    width: auto;
    height: auto; 
    margin-left: 10px;
    background-color: #6b6054b7;
    border: #102C57;
    border-radius: 10px;
    padding: 8px;
    /*color: #F9F7F7;*/
    position: relative; 
    top: 4px;
     
   }

   .search-icon {
    filter: invert(100%) brightness(0) sepia(0); /* Change the SVG color to white */
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}

.cityname {
    color: #102C57;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.date {
    color: #102C57;
    font-size: 20px;    
    text-align: center;
}

.temp-container{
    color: #102C57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding-bottom: 20px;
}
.temp-unit{
    padding-left: 10px;
}

.weather-condition {
    color: #102C57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-bottom: 40px; /* Adjust the padding-bottom value as needed */
}

.condition-icon img {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.condition-container {    
    justify-content: center;
    align-items: center; 
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.uv-display {
    padding: 0 10px 0 10px;
}
.humidity-display {
    padding: 0 10px 0 10px;
}
.wind-display {
    padding: 0 10px 0 10px;
}