/*colours palette:
F9F7F7 background
DBE2EF light shadow 
3F72AF text color light
112D4E text color dark
*/

body {
    background-color: #FEFAF6;
   font-family: "Reddit Sans", sans-serif;
  
}
.app-box{
    background: #EADBC8;
    max-width: 650px;
    margin: 30px auto;
    box-shadow: 0 10px 20px #DAC0A3;
    border-radius: 12px;
    padding: 30px;
}
h1{
    color: #102C57;}